body{
    margin:0;

}

.footerdiv1{
    height:150px;
    /* padding: 20px; */
    
}

.footer{
    /* border: 2px solid red; */
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-size: 1.3rem;
    /* display: inline; */
    position: relative;
    /* left: 650px; */
    height: 50px;
    top: 100px;
    background-color: rgb(228, 241, 253);
    
}

